<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evil Chat</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/evil.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/sockjs.min.js"></script>
    <script src="/static/js/evil.js"></script>
</head>

<body ng-controller="MainController">
    <div id="sidebar">
        <ul id="contacts">
            <li class="contact" ng-repeat="contact in contacts">
                <a href="javascript:;" ng-click="newWindow(contact)">{{contact.name}}</a>
            </li>
        </ul>
        <a href="javascript:;" ng-hide="loggedIn" ng-click="login()">Login</a>
        <a href="javascript:;" ng-show="loggedIn" ng-click="logout()">Logout</a>
    </div>
    <div id="windows">
        <div class="window" ng-controller="WindowController" ng-repeat="window in windows">
            <h4>
                {{contact.name}}
                <a href="javascript:;" ng-click="closeWindow(thread)" class="close">&times;</a>
            </h4>
            <ul class="messages" x-scroll-bottom>
                <li ng-repeat="message in messages">
                    {{message.body}}
                </li>
            </ul>
            <input class="input-send" ng-model="text" x-enter="send()">
        </div>
    </div>
</body>

</html>
